<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>React Metronome Tutorial</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row" style="width: 100%;">
        <p class="mx-auto mt-4 mb-4"><em><strong>Overview:</strong> A tutorial on how to create a metronome using React. Credit to: <a href="https://daveceddia.com/react-practice-projects/">https://daveceddia.com/react-practice-projects/</a>
            for the lesson.</em></p>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="card border-white" style="width: 45%">
        <img class="card-img-top" src="/img/react_metronome_1.png" alt="...">
        <div class="card-body">
            <p class="card-text text-center">You will end up with a basic but functional metronome with an interactive slider to set beats per minute (bpm) with a Start and Stop button.</p>
        </div>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
