<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Dice Game</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A small interactive game utilizing a combination of Java Model-View-Controller Pattern (MVC), a random number generator, and ThymeLeaf.</em></p>
    </div>
    <div class="row">
        <h2 class="mx-auto mt-2 mb-4">Click a link below to guess the number under the cup:</h2>
    </div>
        <div class="row mb-4">
            <img src="../../img/red_cup.jpeg" alt="red cup" class="mx-auto" style="height: auto; width: 100px;"/>
        </div>
    <div class="row justify-content-center">
        <ul class="col-2 mr-5" style="list-style-type: none; margin: 0; padding: 0; font-weight: bold; font-size: x-large; text-align: center">
            <li><a href="/roll_dice/1">Guess # 1</a></li>
            <li><a href="/roll_dice/2">Guess # 2</a></li>
            <li><a href="/roll_dice/3">Guess # 3</a></li>
            <li><a href="/roll_dice/4">Guess # 4</a></li>
            <li><a href="/roll_dice/5">Guess # 5</a></li>
        </ul>
        <ul class="col-2" style="list-style-type: none; margin: 0; padding: 0; font-weight: bold; font-size: x-large; text-align: center">
            <li><a href="/roll_dice/6">Guess # 6</a></li>
            <li><a href="/roll_dice/7">Guess # 7</a></li>
            <li><a href="/roll_dice/8">Guess # 8</a></li>
            <li><a href="/roll_dice/9">Guess # 9</a></li>
            <li><a href="/roll_dice/10">Guess # 10</a></li>
        </ul>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
