<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Post</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <h1 class="mt-4 mb-2 mx-auto">Are you sure you want to delete this post?</h1>
        <form th:action="@{'/posts/'+${post.id}+'/delete'}" method="post" class="mx-auto">
            <div class="row">
                <p th:text="${post.getTitle()}" class="mt-5 float-left"
                   style="font-weight: bold; font-size: 2em; margin-left: 10%;"></p>
            </div>
            <div class="row">
                <p style=" margin-left: 15%;" th:text="${post.getBody()}" class="float-left"></p>
            </div>
            <div class="row float-right pr-5">
                <span>Author:<a th:text="${post.user.email}" class="pl-2"></a></span>
            </div>
            <br>
            <div class="row">
                <div class="mx-auto mt-4">
                    <a th:href="@{'/posts/'}" style="color: black" class="mx-auto">
                        <button type="button" class="btn btn-danger mr-5" data-target="/posts" id="cancel_post_delete">
                            <i class="fas fa-ban mr-2" style="color: white"></i>
                            Cancel
                        </button>
                    </a>
                    <button type="submit" class="btn btn-success" data-target="/posts" id="confirm_post_delete">
                        <i class="fas fa-check mr-2" style="color: white"></i>
                        Confirm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>

