<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2>View Post</h2>
    <br>
    <span style="font-weight: bold" th:text="${post.getTitle()}"></span>
    <a th:text="${post.user.email}"></a>
    <br>
    <span style="padding-left: 2rem;" th:text="${post.getBody()}"></span>
    <a th:href="@{'/posts/'+${post.id}+'/edit'}">Edit Post</a>
    <!--    <button id="deletebutton">Delete Post</button>-->
    <a th:href="@{'/posts/'+${post.id}+'/delete'}">Delete Post</a>
</div>

<nav th:replace="partials/partials :: footer"></nav>
</body>
</html>
