<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an Ad</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <h2 class="mx-auto my-4">Create New Ad</h2>
    </div>
    <div class="row">
        <form th:action="@{/ads/create}" th:method="post" th:object="${ad}" class="mx-auto">
            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <label for="title">Title:</label>
                <input name="title" id="title" class="field" placeholder="Enter title" th:value="title" style="width: 89%; margin-left: 2%;"/>
            </div>
            <br>
            <div class="row">
                <label for="description">Body:</label>
                <textarea name="description" id="description" class="field" th:text="description" style="margin-left: 4px;" placeholder="Enter description" rows="6" cols="45"></textarea>
                <br>
            </div>
            <div class="row">
                <div class="my-4 mx-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus mr-2" style="color: white"></i>
                        Create Ad
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <a th:href="@{'/ads'}" style="color: black" class="mx-auto">
            <button type="button" class="btn btn-danger" data-target="/ads" id="return_ads_main">
                <i class="fas fa-undo mr-2" style="color: white"></i>
                Back to All Ads
            </button>
        </a>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
