<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete a Post</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <form th:action="@{'/ads/'+${ad.id}+'/delete'}" method="post" class="mx-auto">
            <h1 class="mt-4 mb-3">Are you sure you want to delete this ad?</h1>
            <div class="row">
                <p th:text="${ad.title}" class="mt-5 float-left"
                   style="font-weight: bold; font-size: 2em; margin-left: 10%;"></p>
            </div>
            <div class="row">
                <p style=" margin-left: 15%;" th:text="${ad.description}" class="float-left"></p>
            </div>
            <div class="row">
                <div class="mx-auto mt-4">
                    <a th:href="@{'/ads'}" style="color: black" class="mx-auto">
                        <button type="button" class="btn btn-danger mr-5" data-target="/ads" id="cancel_ad_delete">
                            <i class="fas fa-ban mr-2" style="color: white"></i>
                            Cancel
                        </button>
                    </a>
                    <button type="submit" class="btn btn-success" data-target="/ads" id="confirm_ad_delete">
                        <i class="fas fa-check mr-2" style="color: white"></i>
                        Confirm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
