<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>

<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> Paired-programming project to create an ad posting site in the vein of Craigslist. This included setting up a local server, implementing MVC architecture, and writing Java, to implement CRUD functionality for a MySQL database. Credit to: <a href="https://github.com/JeremyTelhiard">https://github.com/JeremyTelhiard</a> and <a href="https://github.com/MikeGreenburg">https://github.com/MikeGreenburg</a> for their contributions.</em></p>
    </div>
</div>

<div class="container">
    <div class="row">
    <h2 class="mx-auto my-4">All Current Ads</h2>
    </div>
    <ul style="list-style: none">
        <div th:each="ad : ${ads}">
            <li><a th:href="@{'/ads/'+${ad.id}}"><h3 style="font-weight: bold" th:text="${ad.title}"></h3></a>
                <p style="padding-left: 2rem;" th:text="${ad.getDescription()}"></p></tr>
                <div class="row float-right pr-5">
                    <span>Seller:<a th:text="${ad.user.email}" class="pl-2"></a></span>
                </div>
                <br>
            </li>
        </div>
    </ul>
</div>
<div class="row">
<a th:href="@{'/ads/create'}" style="color: black" class="mx-auto">
    <button type="button" class="btn btn-primary" data-target="/ads/create" id="create_ad">
        <i class="fas fa-comment-dollar mr-2" style="color: white"></i>
        Create New Ad
    </button>
</a>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
