<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Rock, Paper, Scissors Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            font-size: 150px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row" style="width: 100%;">
        <p class="mx-auto mt-4 mb-4"><em><strong>Overview:</strong> A tutorial on how to create a rock, paper, scissors
            game using only JQuery, Bootstrap, and FontAwesome. Credit to: <a
                    href="https://davewritescode.com/blog/coding-a-rock-paper-scissors-game-with-jquery-bootstrap-and-fontawesome/">https://davewritescode.com/blog/coding-a-rock-paper-scissors-game-with-jquery-bootstrap-and-fontawesome/</a>
            for the lesson.</em></p>
    </div>
</div>
<section>
    <div class="container">
        <div id="player" class="text-center"></div>
        <div id="computer" class="text-center"></div>
        <div id="status" class="text-center alert mb-4" role="alert"></div>
    </div>
</section>
<section>
    <center>
        <div class="row justify-content-center">
            <!--        <div class="btn-group btn-group-lg" role="group">-->
            <button type="button" onclick="rock()" class="btn btn-secondary">Rock</button>
            <button type="button" onclick="paper()" class="btn btn-info">Paper</button>
            <button type="button" onclick="scissors()" class="btn btn-primary">Scissors</button>
            <!--        </div>-->
        </div>
    </center>
</section>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
<script>
    $(function () {
    });
    let hand = ["rock", "paper", "scissors"];

    function rock() {
        $("#player").html("<h2> You picked: <i class='far fa-hand-rock'></i> (Rock) </h2>");
        rockPaperScissors();
    }

    function paper() {
        $("#player").html("<h2> You picked: <i class='far fa-hand-paper'></i> (Paper) </h2>");
        rockPaperScissors();
    }

    function scissors() {
        $("#player").html("<h2> You picked: <i class='far fa-hand-scissors'></i> (Scissors) </h2>");
        rockPaperScissors();
    }

        function rockPaperScissors() {
        let symbol = arguments.callee.caller.name;
        let cpuSymbol = hand[Math.floor(Math.random() * 3)];
        switch (cpuSymbol) {
            case "rock":
                $("#computer").html("<h2> Computer chose: <i class='far fa-hand-rock'></i> (Rock) </h2>");
                symbol == "scissors" ? denoteLoser() : symbol == "paper" ? denoteWinner() : denoteDraw();
                break;
            case "paper":
                $("#computer").html("<h2> Computer chose: <i class='far fa-hand-paper'></i> (Paper) </h2>");
                symbol == "rock" ? denoteLoser() : symbol == "scissors" ? denoteWinner() : denoteDraw()
                break;
            case "scissors":
                $("#computer").html("<h2> Computer chose: <i class='far fa-hand-scissors'></i> (Scissors) </h2>");
                symbol == "paper" ? denoteLoser() : symbol == "rock" ? denoteWinner() : denoteDraw()
                break;
            }
        }

        function denoteWinner() {
            return $("#status").html("<h2 class='alert-success'> You Win! </h2>");
        }

        function denoteLoser() {
            return $("#status").html("<h2 class='alert-danger'> You Lose... </h2>");
        }

        function denoteDraw() {
            return $("#status").html("<h2 class='alert-warning'> It's a Draw! </h2>");
        }

</script>
</html>
