<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Pacman Tutorial</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row" style="width: 100%;">
        <p class="mx-auto mt-4 mb-4"><em><strong>Overview:</strong> A tutorial on how to recreate the arcade hit Pacman in Java. Credit to: <a href="http://zetcode.com/javagames/pacman/">http://zetcode.com/javagames/pacman/</a>
            for the tutorial.</em></p>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="card border-white" style="width: 25%">
        <img class="card-img-top" src="/img/pacman_1.png" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Completing the tutorial will leave you with a convincing clone of this famous video game hit. Pacman is controlled by the arrow keys, and the ghosts will end the game if they catch him.</p>
        </div>
    </div>
    <div class="card ml-4 border-white" style="width: 25%">
        <img class="card-img-top" src="/img/pacman_2.png" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Of course, feel free to experiment once completed and change the colors, ghost pngs, and even design your own maze!</p>
        </div>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
