<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Coffee Project</title></head>
<link th:href="@{/css/coffee_style.css}" rel="stylesheet">
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>

<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A paired programming project to display an array of objects on the web page, as well as implement a dynamic search query and filter method to refine the data displayed. Bootstrap cards were used to maintain clean, even spacing and custom pixel art was created for embellishment. Credit to: <a href="https://github.com/SpicerRJames">https://github.com/SpicerRJames</a> for his contributions.</em></p>
    </div>
</div>

<div class="coffee_box">
    <input id="coffee_search" class="coffee_search" type="text" placeholder="(Search by Name or Roast)">
    <form>
        <label for="roast-selection"></label>
        <select id="roast-selection" class="roast-dropdown">
            <option>Light</option>
            <option>Medium</option>
            <option>Dark</option>
        </select>
        <br>
        <input id="submit" type="submit" class="roast_dropdown_button">
    </form>
</div>
<br>
<div class="column">
    <span id="coffees"></span>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<!--<div th:replace="partials/partials :: footer"></div>-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/js/jquery-2.2.4.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/coffee.js}"></script>
</body>
</html>
