<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Coffee Project</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>

<div class="coffee_header"></div>
<br>
<div class="coffee_box">
    <input id="coffee_search" class="coffee_search" type="text" placeholder="(Search by Name or Roast)">
    <form>
        <label for="roast-selection"></label>
        <select id="roast-selection" class="roast-dropdown">
            <option>Light</option>
            <option>Medium</option>
            <option>Dark</option>
        </select>
        <br>
        <input id="submit" type="submit" class="roast_dropdown_button">
    </form>
</div>
<br>
<div class="column">
    <span id="coffees"></span>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
