<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5811016069.js" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <title></title>
</head>

<body>
<top_banner th:fragment="top_banner">
    <div class="top_banner nav-top-margin" style="color: darkblue">Anthony A. San Miguel II</div>
</top_banner>

<standard_nav th:fragment="navbar">

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <!--    <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- left side content -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home" sec:authorize="isAuthenticated()">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-secondary" style="background-color: rgb(248 249 250); border: none; color: rgb(124 124 125); padding-top: 8px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()">
                            <i class="fas fa-cogs mr-2"></i>Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/coffee_project/coffee"><i class="fas fa-mug-hot mr-2" sec:authorize="isAuthenticated()"></i>Coffee Project</a>
                            <a class="dropdown-item" href="/weather_map/weather_map"><i class="fas fa-cloud-sun-rain mr-2" sec:authorize="isAuthenticated()"></i>Weather Map</a>
                            <a class="dropdown-item" href="/movie_database/movie_database"><i class="fas fa-film mr-2" sec:authorize="isAuthenticated()"></i>Movie Database</a>
                            <a class="dropdown-item" href="/text_game/text_game"><i class="fab fa-fort-awesome mr-2" sec:authorize="isAuthenticated()"></i>Text Adventure Game</a>
                            <a class="dropdown-item" href="/ads"><i class="fas fa-comments-dollar mr-2" sec:authorize="isAuthenticated()"></i>Craigslist Clone</a>
                            <!--                            <a class="dropdown-item" href="/posts"><i class="fas fa-book mr-2"></i>Blog Space</a>-->
                            <a class="dropdown-item" href="/capstone/capstone"><i class="fas fa-project-diagram mr-2" sec:authorize="isAuthenticated()"></i>Capstone Project</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-secondary" style="background-color: rgb(248 249 250); border: none; color: rgb(124 124 125); padding-top: 8px" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()">
                            <i class="fas fa-gifts mr-2"></i>Extras
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/dice_game/roll_dice"><i class="fas fa-dice mr-2" sec:authorize="isAuthenticated()"></i>Dice Game</a>
                            <a class="dropdown-item" href="/breakout_game/breakout_index"><i class="fas fa-gamepad mr-2" sec:authorize="isAuthenticated()"></i>Breakout Game</a>
                            <a class="dropdown-item" href="/superhero_database/superhero_database"><i class="fas fa-mask mr-2" sec:authorize="isAuthenticated()"></i>Superhero Database</a>
                            <a class="dropdown-item" href="/exoplanet/exoplanet"><i class="fas fa-satellite-dish mr-2" sec:authorize="isAuthenticated()"></i>ExoPlanet Archive</a>
                            <a class="dropdown-item" href="/tictactoe/tictactoe"><i class="fab fa-slack-hash mr-2" sec:authorize="isAuthenticated()"></i>Tic-Tac-Toe Game</a>
                            <a class="dropdown-item" href="/reactfox_tutorial/reactfox_tutorial"><i class="fas fa-fighter-jet mr-2" sec:authorize="isAuthenticated()"></i>Reactfox Game</a>
                            <a class="dropdown-item" href="/rock_paper_scissors_tutorial/rock_paper_scissors_tutorial"><i class="fas fa-hand-scissors mr-2" sec:authorize="isAuthenticated()"></i>Rock, Paper, Scissors</a>
                            <a class="dropdown-item" href="/hangman/hangman"><i class="fas fa-question mr-2" sec:authorize="isAuthenticated()"></i>Hangman Game</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="display: none">
                    <a class="nav-link" href="/register">
                        <i class="fas fa-user-plus"></i>
                        Register
                    </a>
                </li>
                <li class="nav-item" style="display: none">
                    <a class="nav-link" href="/login" style="color:green">
                        <i class="fas fa-sign-in-alt" style="color:green"></i>
                        Login
                    </a>
                </li>
                <li class="nav-item" style="display: none">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link" style="border:none; background:none; color: red;">
                            <i class="fas fa-sign-out-alt" style="color:red"></i>
                            Log Out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</standard_nav>
<footer_nav th:fragment="footer_nav">

    <!-- collapsing navbar elements -->
    <div class="navbar navbar-expand-lg navbar-light footer">

        <!--         left side content -->
        <ul class="navbar-nav ml-auto" id="footer-nav">
            <li class="nav-item"><a class="nav-link mr-3 hvr-grow" href="https://github.com/AnthonySanMiguel" target="_blank" style="color: white;"><i class="fab fa-github mr-2 hvr-gicon"></i>AnthonySanMiguel</a></li>
            <li class="nav-item"><a class="nav-link hvr-grow" href="https://www.linkedin.com/in/anthony-san-miguel-ii/" target="_blank" style="color: white;"><i class="fab fa-linkedin mr-2 hvr-icon"></i>anthony-san-miguel-ii</a></li>
        </ul>
    </div>

</footer_nav>
<div th:fragment="footer" th:remove="tag">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery-2.2.4.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>
