<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row my-4">
        <h1 class="mx-auto">Log In</h1>
    </div>
    <div class="row mb-3">
        <div th:if="${param.error}" class="mx-auto">Invalid Username and Password.
        </div>
    </div>
    <div class="row mb-3">
        <div th:if="${param.logout}" class="mx-auto">You have been logged out.
        </div>
    </div>
    <div class="row mb-3">
        <form th:action="@{/login}" method="post" class="mx-auto">
            <div class="row mb-3">
                <label for="username" class="mr-3">Username:</label>
                <input id="username" name="username" type="text" placeholder="Enter username"/>
            </div>
            <div class="row mb-4">

                <label for="password" class="mr-4">Password:</label>
                <input id="password" name="password" type="password" placeholder="Enter password"/>
            </div>
            <div class="row">
                <input type="submit" value="Log In" class="mx-auto"/>
            </div>
        </form>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
