.top_banner {
    font-size: 3rem;
    color: white;
    text-align: center;
    background-color: darkblue;
    border-color: darkblue;
}

#navbar-title {
    transform: translateX(-220%) translateY(-53%);
    left: 48%;
    position: absolute;
    font-size: 40px;
    font-family: 'Patua One', cursive;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
}

.footer > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.footer > .navbar {min-height:32px !important}

#login_button {
    border: none;
    color: white;
    background-color: #007bff;
}

#login_button:hover {
    border: none;
    color: white;
    background-color: rgb(9, 93, 221);
}

.movie_pic_shadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tictactoe_pic_shadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}