<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row mt-5 mb-4">
        <img src="img/headshot_1.jpeg" alt="headshot" class="mx-auto rounded-circle" style="height: 15em; width: 16em"/>
    </div>
    <div class="row">
            <p class="mx-auto">Thank you for visiting! Click the button below to begin browsing.</p>
    </div>
</div>
<form th:action="@{/login}" method="post">
    <input id="username" name="username" type="text" value="anthony" style="display: none;"/>
    <input id="password" name="password" type="password" value="anthony" style="display: none;"/>
    <button type="submit" class="btn btn-success mx-auto mt-2 hvr-icon-pulse-grow" style="display: block;">
        <i class="fas fa-door-open mr-2 hvr-icon" style="color: white"></i>
        Enter
    </button>
</form>
<div class="row">
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
