<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<h1>Click a link below to guess the number:</h1>
<ul>
    <li><a href="/roll_dice/1">Guess # 1</a></li>
    <li><a href="/roll_dice/2">Guess # 2</a></li>
    <li><a href="/roll_dice/3">Guess # 3</a></li>
    <li><a href="/roll_dice/4">Guess # 4</a></li>
    <li><a href="/roll_dice/5">Guess # 5</a></li>
    <li><a href="/roll_dice/6">Guess # 6</a></li>
    <li><a href="/roll_dice/7">Guess # 7</a></li>
    <li><a href="/roll_dice/8">Guess # 8</a></li>
    <li><a href="/roll_dice/9">Guess # 9</a></li>
    <li><a href="/roll_dice/10">Guess # 10</a></li>
</ul>
<nav th:replace="partials/partials :: footer"></nav>
</body>
</html>
