<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row my-5">
        <h1 class="mx-auto">Welcome to my site!</h1>
    </div>
    <div class="row">
        <div class="mx-auto" style="width: 50%">
        <p>Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum. Lorem ipsum infinitum.</p>
        </div>
    </div>
</div>

<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
