<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title></title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row my-5">
        <h1 class="mx-auto">Welcome to my site!</h1>
    </div>
    <div class="row">
        <div class="mx-auto" style="width: 50%">
            <p>Here is my small space of the internet to showcase some of the projects I have worked on, as well as house some of my current undertakings. Each project is a glimpse into a different language and exploring its fundamentals.</p>
        </div>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
