<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Superhero Database</title></head>
<link th:href="@{/css/superhero_database.css}" rel="stylesheet">
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A personal page inspired by the Coffee Project concept
            which incorporates DOM elements and a computer speech synthesis function.</em></p>
    </div>
</div>
<div class="header">
    <h4>Batcomputer Database:
        <text style="color: green">Online</text>
    </h4>
    <h4>Network Status:
        <text style="color: red">Secure</text>
    </h4>
    <h4 style="color: black"><em>(Good Evening, Master Wayne)</em></h4>
</div>
<form class="search_boxes">
    <label for="search"></label><input id="search" class="search" type="text" placeholder="Custom Search">
    <br>
    <br>
    <label for="publisher-selection"></label><select id="publisher-selection" class="affiliation-dropdown">
    <option value="DC">DC Comics</option>
    <option value="Marvel">Marvel Comics</option>
</select>
    <input id="submit" type="submit" class="button" style="margin: 0 .5em">
</form>
<div class="column">
    <span id="superheroes" class="superhero-names content-cards"></span>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/js/jquery-2.2.4.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/superhero_database.js}"></script>
</body>
</html>
