<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Text Adventure Game</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A paired-programming project to create a text style, turn-based adventure game. By linking multiple Java methods, the final product was a player-choice driven game supplemented with ASCII art for visual impact. Credit to: <a href="https://github.com/JoshMarchand">https://github.com/JoshMarchand</a> for his contributions.</em></p>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
