<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Movie Database</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A paired-programming project using an AJAX call to simulate pinging a server database, retrieving the data, and presenting it in a user-friendly format. Users may add, edit, or delete entries, which dynamically update. Credit to: <a href="https://github.com/GuillermoDeLeon">https://github.com/GuillermoDeLeon</a> and <a href="https://github.com/johnnymdelgado12">https://github.com/johnnymdelgado12</a> for their contributions.</em></p>
    </div>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
