<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"><title>Movie Database</title></head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>
<div class="container">
    <div class="row" style="width: 100%;">
        <p class="mx-auto mt-4"><em><strong>Overview:</strong> A paired-programming project using an AJAX call to simulate pinging a server database, retrieving the data, and presenting it in a user-friendly format. Users may add, edit, or delete entries, which dynamically update. Credit to: <a href="https://github.com/GuillermoDeLeon">https://github.com/GuillermoDeLeon</a> and <a href="https://github.com/johnnymdelgado12">https://github.com/johnnymdelgado12</a> for their contributions.</em></p>
    </div>
</div>
<div class="row mt-3" style="width: 100%;">
    <img class="movie_pic_shadow rounded" src="/img/moviedb_1.png" style="height: 20em; width: 40em; margin-left: 5%"/>
    <img class="movie_pic_shadow rounded" src="/img/moviedb_2.png" style="height: 20em; width: 40em; margin-left: 3.5%"/>
</div>
<div class="row mt-4" style="width: 100%;">
    <p style="width: 30em; margin-left: 11%">Users are greeted with a tabular display of movies available in the database, to include the entry ID, title, genre, and rating for each.</p>
    <p style="width: 30em; margin-left: 16%">At the bottom of the table, users have the option to Add new entries, or Edit existing ones.</p>
</div>
<div class="row mt-3" style="width: 100%;">
    <img class="movie_pic_shadow rounded" src="/img/moviedb_3.png" style="height: 20em; width: 40em; margin-left: 5%"/>
    <img class="movie_pic_shadow rounded" src="/img/moviedb_4.png" style="height: 20em; width: 40em; margin-left: 3.5%"/>
</div>
<div class="row mt-4" style="width: 100%;">
    <p style="width: 30em; margin-left: 11%">As an example, if we add a movie to the list (<em>The Terminator</em>)...</p>
    <p style="width: 30em; margin-left: 16%">After clicking the "Add a Movie" button, we see the table refresh and the new entry populate on the list.<p>
</div>
<div class="row mt-3" style="width: 100%;">
    <img class="movie_pic_shadow rounded" src="/img/moviedb_5.png" style="height: 20em; width: 40em; margin-left: 5%"/>
    <img class="movie_pic_shadow rounded" src="/img/moviedb_6.png" style="height: 20em; width: 40em; margin-left: 3.5%"/>
</div>
<div class="row mt-4" style="width: 100%;">
    <p style="width: 30em; margin-left: 11%">By clicking the "Remove" button on the right of the entry (<em>The Terminator</em>), the user is greeted by a confirmation prompt.</p>
    <p style="width: 30em; margin-left: 16%">Once confirmed, the table once again refreshes on click and the data is updated dynamically.<p>
</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>
